<ng2-toasty [position]="'bottom-right'"></ng2-toasty>
<div id="wrapper" [class.toggled]="!isToggled">
  <div id="sidebar-wrapper">
    <nav-menu></nav-menu>
  </div>
  <!-- /#sidebar-wrapper -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div>
        <button class="btn btn-toggled" aria-label="" (click)="onToggle()">
          <i class=" fa fa-align-justify "></i>
        </button>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
